<h2>Tile tester</h2>
<form>
    <label for="a">A</label>
    <input type="number" name="a" [(ngModel)]="side_a">
    <label for="b">B</label>
    <input type="number" name="b" [(ngModel)]="side_b">
</form>
<svg *ngIf="hex"
     class="crosshair"
     (click)="debug(hex)"
     [attr.width]="hex.width"
     [attr.height]="hex.height"
     [attr.x]="hex.origin.x"
     [attr.y]="hex.origin.y">
    <polygon
         class="hex"
         [attr.fill]="hex.color"
         [attr.points]="hex.point_string"></polygon>
         <path class="track"
               [attr.d]="generate_path()"
               stroke="black"
               fill="transparent"/>
</svg>
