.crosshair{
    cursor: crosshair;
}

.hex {
    stroke: #000;
    stroke-width: 1;
}

text.text {
    font-family: serif;
    fill: black;
    font-size: .75em;
}

.track{
}

.city {
    fill: white;
    stroke: black;
}
